@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

body {
    font-family: roboto, sans-serif;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(43, 43, 43);
    margin: 0 0 5% 0;    
}

.navbar-list {
    display: flex;
    margin: 25px;
}

.navbar-list li {
    margin: 10px;    
    align-self: center;
    color: #ffffff;
    text-decoration: none;
}

.movies-main {
    box-sizing: border-box;    
    margin: 50px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.moviesList {
    list-style: none; margin: 0; padding: 0; 
}

.moviesListItems {
    float: left;
    clear: both;
}

.one-movie {
    width: 28%;   
    margin: 2%;
    /*text-overflow: ellipsis;
    overflow: hidden;*/
    
}

.one-movie:hover {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.inside-one-movie {    
    background-color: #ffffff; 
    justify-content: flex-start;
    height: 95%;
}

.inside-one-movie img {
    width: 100%;
    margin: auto;
}

.inside-one-movie h3 {
    font-size: 20px;
}

.inside-one-movie h5 {
    font-size: 14px;
}


/* Styles for Add component */
.search-container {
    width: 80%;
    margin:auto;
    text-align: center;
    
}

.input-search {
    width:50%;
    padding: 5px 0 5px 30px;
    color: rgb(46, 46, 46);
    background-color:rgba(180, 202, 200, 0.411) ;
    border-radius: 10px;
    border: 0px;
}

.results-preview {
    margin-top: 5%;
}

.result-card {
    display: flex;
    margin: 0 auto 3%;
    flex-wrap: wrap;
    justify-content: center;
}

.text-info {
    margin: 0 3%; 
    color: black !important;
    max-width: 50%;
    /*min-width: 796px;*/
}

.poster-wrapper img {
    width: 150px;
}

.pagination-wrapper {
    display: block;
}
