@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');
@import url('https://css.gg/close.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

body {
    font-family: roboto, sans-serif;
    background-color: #040c21;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #040c21;
    justify-content: space-around;  
    align-content: center;
    height: 15vh; 
    margin-bottom: 50px;
    border-bottom: #ffffff 1px solid;
}

.logo-container {
    width: 200px;
}

.navbar-list {
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.logo {
    margin-top: 5px;
    width:80%;
}

.bi-list {
    color: #ffffff;
    width: 35px;
    height: 35px;
    align-self: center;
}

.navbar-list {
    display: none;
    margin: 25px;
}

.navbar-list li {
    margin: 10px;    
    align-self: center;
    color: #ffffff;
    text-decoration: none;
}

.background {
    background-color: #040c21;
}

.h3-title {
    color: #ffffff;
    padding: 5px;
    margin: 25px 25px 0px;
    width: 70%;
}

.bi-arrow-up-circle{
    color: rgb(255, 255, 255, 0.6);
    width: 50px;
    height: 50px;
}

.arrow-icon {
    text-align: center;
    margin-bottom: 30px;
}

.movies-main, .results-preview {
    box-sizing: border-box;    
    margin: 20px auto 0px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    padding: 0;
}

.search-results {
    display: flex;
}

.moviesList {
    list-style: none; margin: 0; padding: 0; 
}

.moviesListItems {
    float: left;
    clear: both;
}

.one-movie, .result-card {
    width: 80%;   
    margin: 10% 2%;
    max-height: 600px;
    /*text-overflow: ellipsis;
    overflow: hidden;*/
    
}

.inside-one-movie {    
    background-color: #ffffff; 
    justify-content: flex-start;
    width:100%
}

.search-movie-title {
    width: 100%;
}

.inside-one-movie img {
    width: 100%;
    margin: auto;
}

.inside-one-movie h3 {
    font-size: 20px;
}

.inside-one-movie h5 {
    font-size: 14px;
}

/* Styles for Add component */
.bi-heart-fill {
    color: red;
    align-self: center;
}


.main-title {
    font-family: 'Poppins', sans-serif;
    background-color: #040c21;
    color: #ffffff;
    text-align: center;
}

.main-title h1 {
    font-size: 40px;
    margin: 50px 20px 0;
    font-weight: 200;
}

.main-title h2 {
    font-size: 25px;
    font-weight: 100;
    margin: 25px 20px 0;
}

.list-button, .favorite-button {
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.search-container {
    width: 80%;
    margin:auto;
    text-align: center;
    vertical-align: middle;    
}

.input-search {
    width:50%;
    padding: 5px 0 5px 30px;
    color: rgb(46, 46, 46);
    background-color:rgba(180, 202, 200, 0.411) ;
    border-radius: 10px;
    border: 0px;
}

.form-location {
    position: relative;
    height: 400px;
    background-color: #040c21;
}

.search-movie {
    width:80%;
    position: absolute;
    top: 40%;
    left: 50%;  
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    border: 0;
}

.main-buttons {
    width: 80%;
    display: flex;
    margin: auto;
    position: absolute;
    top: 55%;
    left: 50%;  
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
}

.results-preview {
    margin-top: 5%;
}

.result-card {
    display: flex;
    margin: 0 auto 3%;
    flex-wrap: wrap;
    justify-content: center;
}

.text-info {
    margin-bottom: 0.5rem; 
    color: black !important;
    padding: 5%;
    /*min-width: 796px;*/
}

.poster-wrapper img {
    width: 150px;
}

.pagination {
    justify-content: center;
}

.page-link {
    color: #ffffff;
    background-color: #040c21;
}

.inside-one-movie {
    position: relative;
    transition: transform 0.2s;
    border: #ffffff solid 3px;
}

.inside-one-movie:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.inside-one-movie:hover .overlay {
    opacity: 1;
    color:rgb(255, 255, 255);
}

.overlay {
    position: absolute;
    background:rgb(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.overlay:focus {
    font-size: 18px;
}

.add-star {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.one-movie-poster-display {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.detail-poster-display {
    width: 100%;
}

.movie-detail-container-display {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-detail-container-display p, .movie-detail-container p {
    font-size: 13px;
}

.one-movie-poster {
    width: 100%;   
    margin: 2%;
    display: flex;    
}

.detail-poster {
    width:35%;
}

.detail-data {
    margin-left: 5%;
    padding: 25px 30px 30px 0px;
    position: relative;
    color: #ffffff;
}

.detail-data h5 {
    font-size: 14px;
}

.gg-close {
    position: absolute;
    right: 20px;
    top: 8px;
    justify-content: center;
    transition: 0.6s
}

.gg-close:hover {
    color: #ffffff;
    background-color: #000;
}

@media (min-width: 460px){
    /*Tablet*/
    .one-movie {
        width: 40%;   
        margin: 5% 2%;       
    }

    .header-container {
        justify-content: space-between;
        padding: 0 5%;        
    }

    .one-movie-poster-display {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .detail-poster-container {
        display: flex;
        justify-content: center;
    }

    .detail-poster-display {
        width: 60%;
        min-width: 209px;
    }

    .movie-detail-container-display {
        margin-bottom: 50px;
    }

    .detail-data button  {
        margin-top: 30px;
    }
    
    .movies-main {
        margin-top: 0;
    }
    
    .detail-data h5 {
        font-size: 14px;
    }

    .h3-title {
        width: 35%;
        margin-bottom: 20px;
    }
}

@media (min-width: 610px){
    .bi-list {
        display: none;
    }

    .navbar-list {
        display: flex;
    }

    .logo-container {
        align-self: center;
    }
}

@media (min-width: 768px){
    /*Laptop*/
    .one-movie {
        width: 23%;
        max-width: 275px;   
        margin: 3% 2%;       
    }

    .movie-detail-container-display {
        max-width: 950px;
        margin: 50px auto;
    }

    .one-movie-poster-display {
        max-width: 950px;
    }

    .one-movie-poster-display {
        flex-direction: row;
        padding: 0 10%;
    }

    .detail-poster-display {
        width: 100%;
    }

    .search-movie {
        width: 40%;
        max-width: 600px;
    }
    .main-buttons {
        width: 40%;
        max-width: 600px;
    }

    .main-title h1 {
        font-size: 60px;
    }
    
    .main-title h2 {
        font-size: 35px;
    }

    .main-title {
        margin-top: 5%;
    }
}

@media (min-width: 1068px) {
    .main-title h1 {
        font-size: 70px;
    }    
    .main-title h2 {
        font-size: 50px;
    }
}